@model SchoolSMSVaschool.Code.aci_hocsinh_insert


@{
    ViewBag.Title = "GridView Details Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-content">
    <h1 class="title" id="SubjectText">
        @Model.ten
</h1>
<p>Issue #@Model.so</p>
<hr />
<p>This is the GridView details page.</p>
</div>